body {
    background-color: #ACDCDD ;
}

.title {
    font-family: 'Pacifico';
    font-weight: norma;
    font-size: 40px;
    text-align: center;
    line-height: 1.4;
    color: rgb(29, 29, 97);
    margin:0%
  }

  .container{
    width: 310px;
	margin: 50px auto;   
  }

  ul{
    background-color:  #2980B9 ;
    padding: 0;
    
  }

.titles{
    padding-bottom:10%;
}

.menu{
    list-style-type:none;
    background-color:  #2980B9 ;
    padding: 2%;
    border-bottom: 2px solid black;
    text-align: center;
    padding-top: 5%;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    font-size: 30px;
   
}

.menu-last{
    list-style-type: none;
    background-color:  #2980B9 ;
    padding: 2%;
    text-align: center;
    padding-top: 5%;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    font-size: 30px;
  
}



a{
    list-style: none; 
    text-decoration: none;  
    color: white;
    padding: 3%;
    
}

.ml1{
    text-align: center;

}

.ml1 .letter {
    display: inline-block;
    line-height: 1em;
  }

  .ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }

.portada-imagen{
    padding:2%;
}

.portada{
    border-radius: 50%;
}
.return{
    text-align: center;
    background-color:rgb(29, 29, 97);
    color: white;
    font-size: 50px;
}
.box{
    margin: 2%;
    text-align: center;

}

