$u: 1.25;
$d: 17em;
$p: .5em;
$o: 1.25em;
$l: 6px;

*, ::before { box-sizing: inherit; margin: 0 }

html {
	font: 100 #{$u*1em}/ 1.25 handlee, 
		z003, segoe script, comic sans ms, cursive;
	
	@media (max-width: 360px) { font-size: 1em }
	@media (max-width: 240px) { font-size: .75em }
}

body {
	box-sizing: border-box;
	display: grid;
	grid-gap: $o;
	grid-template-columns: 
		repeat(auto-fit, minmax($d, 1fr));
	overflow-x: hidden;
	padding: $p;
	min-height: 100vh;
	background: #ACDCDD;
}

article {
	--c: #{mix(#fff, darkorange, 25%)};
	--s0: calc(#{$o} + #{$l});
	--s1: calc(#{$o} + #{$l} + #{$p});
	place-self: center;
	position: relative;
	width: $d; height: $d;
	border: solid 0 transparent;
	border-width: 0 var(--s0) var(--s0) 0;
	padding: var(--s1) $p $p var(--s1);
	background: var(--c) padding-box;
	
	&:nth-child(2) {
		--c: #{invert(indigo)};
		filter: invert(1)
	}
	
	&::before {
		position: absolute;
		top: 0; left: 0;
		border: inherit;
		border-width: $o 0 0 $o;
		width: $d; height: $d;
		box-shadow: inset 0 0 0 $l var(--c);
		mix-blend-mode: difference;
		pointer-events: none;
		content: ''
	}

    h3{
        font-size: 40px;
    }

    p{
        font-size: 30px;
    }
}


